*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    header{
        padding: 10px;
        background-color: rgb(133, 127, 127);
        border-bottom-left-radius: 20px;
        border-bottom-right-radius: 20px;
        position: sticky;
        top: 0;
        box-shadow: 5px 5px 25px #222 inset;
        filter: drop-shadow(5px 5px 10px #444);

        nav{
            display: flex;
            justify-content: space-around;
            a{
                display: flex;
                align-items: center;
                .icons{
                    height: 5vh;
                    width: 2.5vw;
                }
            }
        }
    }
    
    main{
        padding: 5px;
        margin: 50px;

        .presentationBox{
            margin: 15px;
            
            section{
                display: flex;

                img{
                    width: 20vw;
                    object-fit: cover;
                    height: 30vh;
                    border-radius: 35%;
                }

                div{
                    padding: 30px;
                }
            }
        }

        .proyectBox{
            display: grid;
            grid-template-columns: repeat(2, 50%);
            grid-template-rows: 10% 50% 50%;
            margin: 15px;


            .p1{
                grid-column: 1/ 2;
                grid-row: 2/ 3;
            }
            .p2{
                grid-column: 1/ 2;
                grid-row: 3/ 4;
            }
            .p3{
                grid-column: 2/ 3;
                grid-row: 2/ 3;
            }
            .p4{
                grid-column: 2/ 3;
                grid-row: 3/ 4;
            }
        }

        .exerciseBox{
            display: grid;
            grid-template-columns: repeat(3, 33.3%);
            grid-template-rows: 5% 40% 35% 20%;
            margin: 15px;
            margin-top: 40px;

            h2{
                grid-column: 1/ 4;
                grid-row: 1/ 2;
            }
            .ej1{
                grid-column: 1/ 2;
                grid-row: 2/ 3;
            }
            .ej2{
                grid-column: 2/ 3;
                grid-row: 2/ 3;
            }
            .ej3{
                grid-column: 3/ 4;
                grid-row: 2/ 3;
            }
            .ej4{
                grid-column: 1/ 2;
                grid-row: 3/ 4;
            }
            .ej5{
                grid-column: 2/ 3;
                grid-row: 3/ 4;
            }
            .ej6{
                grid-column: 3/ 4;
                grid-row: 3/ 4;
            }
            .ej7{
                display:flex;
                justify-content: center;
                grid-column: 1/ 4;
                grid-row: 4/ 5;
            }
        }
    }

    footer{
        padding: 20px;
        background-color: rgba(95, 90, 90, 0.534);
        display: flex;
        justify-content: space-around;
        box-shadow: 5px 5px 25px #222 inset;

        a{
            display: flex;
            align-items: center;

            .F5{
                height: 20vh;
                width: 10vw;
                padding: 10px;
            }
        }

        ul{
            list-style:none;
        }
    }
}

.proyectImage{
    width: 15vw;
    object-fit: fill;
    height: 20vh;
}

a{
    text-decoration: none;
    color: black;
}