* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body header {
  padding: 10px;
  background-color: #857f7f;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  -webkit-box-shadow: 5px 5px 25px #222 inset;
          box-shadow: 5px 5px 25px #222 inset;
  -webkit-filter: drop-shadow(5px 5px 10px #444);
          filter: drop-shadow(5px 5px 10px #444);
}

body header nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

body header nav a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

body header nav a .icons {
  height: 5vh;
  width: 2.5vw;
}

body main {
  padding: 5px;
  margin: 50px;
}

body main .presentationBox {
  margin: 15px;
}

body main .presentationBox section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

body main .presentationBox section img {
  width: 20vw;
  -o-object-fit: cover;
     object-fit: cover;
  height: 30vh;
  border-radius: 35%;
}

body main .presentationBox section div {
  padding: 30px;
}

body main .proyectBox {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (50%)[2];
      grid-template-columns: repeat(2, 50%);
  -ms-grid-rows: 10% 50% 50%;
      grid-template-rows: 10% 50% 50%;
  margin: 15px;
}

body main .proyectBox .p1 {
  -ms-grid-column: 1;
  -ms-grid-column-span: 1;
  grid-column: 1/ 2;
  -ms-grid-row: 2;
  -ms-grid-row-span: 1;
  grid-row: 2/ 3;
}

body main .proyectBox .p2 {
  -ms-grid-column: 1;
  -ms-grid-column-span: 1;
  grid-column: 1/ 2;
  -ms-grid-row: 3;
  -ms-grid-row-span: 1;
  grid-row: 3/ 4;
}

body main .proyectBox .p3 {
  -ms-grid-column: 2;
  -ms-grid-column-span: 1;
  grid-column: 2/ 3;
  -ms-grid-row: 2;
  -ms-grid-row-span: 1;
  grid-row: 2/ 3;
}

body main .proyectBox .p4 {
  -ms-grid-column: 2;
  -ms-grid-column-span: 1;
  grid-column: 2/ 3;
  -ms-grid-row: 3;
  -ms-grid-row-span: 1;
  grid-row: 3/ 4;
}

body main .exerciseBox {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (33.3%)[3];
      grid-template-columns: repeat(3, 33.3%);
  -ms-grid-rows: 5% 40% 35% 20%;
      grid-template-rows: 5% 40% 35% 20%;
  margin: 15px;
  margin-top: 40px;
}

body main .exerciseBox h2 {
  -ms-grid-column: 1;
  -ms-grid-column-span: 3;
  grid-column: 1/ 4;
  -ms-grid-row: 1;
  -ms-grid-row-span: 1;
  grid-row: 1/ 2;
}

body main .exerciseBox .ej1 {
  -ms-grid-column: 1;
  -ms-grid-column-span: 1;
  grid-column: 1/ 2;
  -ms-grid-row: 2;
  -ms-grid-row-span: 1;
  grid-row: 2/ 3;
}

body main .exerciseBox .ej2 {
  -ms-grid-column: 2;
  -ms-grid-column-span: 1;
  grid-column: 2/ 3;
  -ms-grid-row: 2;
  -ms-grid-row-span: 1;
  grid-row: 2/ 3;
}

body main .exerciseBox .ej3 {
  -ms-grid-column: 3;
  -ms-grid-column-span: 1;
  grid-column: 3/ 4;
  -ms-grid-row: 2;
  -ms-grid-row-span: 1;
  grid-row: 2/ 3;
}

body main .exerciseBox .ej4 {
  -ms-grid-column: 1;
  -ms-grid-column-span: 1;
  grid-column: 1/ 2;
  -ms-grid-row: 3;
  -ms-grid-row-span: 1;
  grid-row: 3/ 4;
}

body main .exerciseBox .ej5 {
  -ms-grid-column: 2;
  -ms-grid-column-span: 1;
  grid-column: 2/ 3;
  -ms-grid-row: 3;
  -ms-grid-row-span: 1;
  grid-row: 3/ 4;
}

body main .exerciseBox .ej6 {
  -ms-grid-column: 3;
  -ms-grid-column-span: 1;
  grid-column: 3/ 4;
  -ms-grid-row: 3;
  -ms-grid-row-span: 1;
  grid-row: 3/ 4;
}

body main .exerciseBox .ej7 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-grid-column: 1;
  -ms-grid-column-span: 3;
  grid-column: 1/ 4;
  -ms-grid-row: 4;
  -ms-grid-row-span: 1;
  grid-row: 4/ 5;
}

body footer {
  padding: 20px;
  background-color: rgba(95, 90, 90, 0.534);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-shadow: 5px 5px 25px #222 inset;
          box-shadow: 5px 5px 25px #222 inset;
}

body footer a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

body footer a .F5 {
  height: 20vh;
  width: 10vw;
  padding: 10px;
}

body footer ul {
  list-style: none;
}

.proyectImage {
  width: 15vw;
  -o-object-fit: fill;
     object-fit: fill;
  height: 20vh;
}

a {
  text-decoration: none;
  color: black;
}
/*# sourceMappingURL=portfolio.css.map */