*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    header{
        padding: 10px;
        background-color: rgba(95, 90, 90, 0.534);
        nav{
            display: flex;
            justify-content: space-around;
            .icons{
                height: 5vh;
                width: 2.5vw;
            }
        }
    }
    
    main{
        padding: 5px;

        .presentationBox{
            display: flex;
            margin: 15px;

            img{
                width: 20vw;
                object-fit: cover;
                height: 30vh;
                border-radius: 35%;
            }
        }

        .proyectBox{
            display: grid;
            grid-template-columns: repeat(2, 50%);
            grid-template-rows: 15% 45% 45%;
            margin: 15px;


            .p1{
                grid-column: 1/ 2;
                grid-row: 2/ 3;
            }
            .p2{
                grid-column: 1/ 2;
                grid-row: 3/ 4;
            }
            .p3{
                grid-column: 2/ 3;
                grid-row: 2/ 3;
            }
            .p4{
                grid-column: 2/ 3;
                grid-row: 3/ 4;
            }
        }

        .exerciseBox{
            display: grid;
            grid-template-columns: repeat(3, 33.3%);
            grid-template-rows: 5% 40% 35% 20%;
            margin: 15px;

            h2{
                grid-column: 1/ 4;
                grid-row: 1/ 2;
            }
            .ej1{
                grid-column: 1/ 2;
                grid-row: 2/ 3;
            }
            .ej2{
                grid-column: 2/ 3;
                grid-row: 2/ 3;
            }
            .ej3{
                grid-column: 3/ 4;
                grid-row: 2/ 3;
            }
            .ej4{
                grid-column: 1/ 2;
                grid-row: 3/ 4;
            }
            .ej5{
                grid-column: 2/ 3;
                grid-row: 3/ 4;
            }
            .ej6{
                grid-column: 3/ 4;
                grid-row: 3/ 4;
            }
            .ej7{
                display:flex;
                justify-content: center;
                grid-column: 1/ 4;
                grid-row: 4/ 5;
            }
        }
    }

    footer{
        padding: 10px;

        .F5{
            height: 15vh;
            width: 12.5vw;
        }
    }
}


a{
    text-decoration: none;
    color: black;
}